.header {
  background-image: url('./imgs/bg\ hony.jpg');
  height: 120vh;
  background-size: cover;
  position: relative;
  width: 100%;

}

.hony {
  position: absolute;
  color: white !important;
  left: 55px;
  top: 10px;

  font-size: 10px;
  font-weight: bolder;


  .color {
    color: orangered !important;
  }

}

.vv {

  margin: 30px;
  margin-left: 40%;

}

.d-flex {
  width: 100px;
  margin-left: 40%;

}






.rr {
  line-height: 40px;
}

.nav-item .nav-link {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.nav-item .nav-link .side {
  margin-top: 30px;
}

.rotate {

  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
}

a {
  text-decoration: none
}

li {
  list-style: none
}

ul {
  padding: 0;
  margin: 0
}

.side-bar {
  width: 15px;
  float: left;
  background: transparent;
  margin-left: 60px;
  margin-top: 70px;
}

ul.nav {
  width: 5px;

}

ul.nav li:first-child {
  padding-top: 35px
}

ul.nav li {
  padding-top: 100px;
}

.navbar-toggler {

  background-color: white !important;
  text-align: right !important;

}


ul.nav li a {
  text-decoration: none;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  writing-mode: lr-tb;
  float: left;
  width: 5px;
  color: #fff;


}

ul.nav li a:hover {
  text-decoration: dotted;
  color: aqua;
}

.dd {
  background-color: transparent !important;


}
 .row{
  display: flex;
  

  
  padding: 2%;

 }
.right {
  font-size: 60px;
  font-weight: bolder;
  color: white !important;


}

.nn {
  color: white !important;
  font-size: 25px;
  line-height: 40px;
  margin-left: 20px;
}


.btnxx {
  width: 200px;
  height: 60px;
  background-color: rgb(242, 84, 27);
  color: white;

  border: 1px solid orangered;
  border-radius: 40px;
  font-weight: bolder;
  font-size: 20px;
  text-align: center;
  padding-top: 12px;
  margin-top: 40px;
  margin-left: 30px;

}

.btnxx:hover {
  color: white;
  background-color: black;
}


.amazing {
  margin-left: 5%;
}

.busy {

  margin: 30px;
  width: 60px;





}

.ff {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  position: absolute;
  top: 95%;

  display: flex;

  right: 40%;



}


.card-text{
  font-size: 20px;
}
.hhh {
  background-image: url('./imgs/bg\ hony.jpg');
  height: auto;
  background-size: cover;
  position: relative;
  width: 100%;

}

.card-group {
  padding: 60px;

}

.cardi {
  display: flex;
  width: 300px;
  border: 1 px solid white;
  border-radius: 50%;
  background-color: white;

  align-items: center;
  clip-path: circle(43.9% at 50% 50%);
  margin-top: 30px;
  margin: auto;
}
 .rid{
  height: auto;
  display: flex;
  background-color: transparent;
  opacity: 0px;
  padding: 80px;
  justify-content: center;
  align-items:center;
  margin: auto;
  

 }
.ee{
  
  width:400px;
  
  margin: 10px;
   padding: 2%;
   outline: black;
  border: 5px solid rgba(165, 42, 42, 0.947);
  background-color:transparent;
  color: white;
  font-size: 20px;
  font-weight: bolder;
  
  
}

.setting {
  align-items: center;
  justify-content: center;
  
  height: 600px;
  padding: 10%;
}

.text-center {
  color: white !important;

}

.tt {
  width: 200px;
  height: 50px;
  margin-top: 10px;

}

.btnll {
  width: 200px;
  height: 50px;
  margin-top: 10px;
   background-color: orangered;
  color: white;
   padding-top: 8px;
  font-weight: bolder;
  text-align: center;
 

}

.btnll:hover {
  color: white;
  background-color: black;
  
  
}

@media only screen and (max-width:768px) {


  .header {

    display: block;
    padding: 4%;
    box-sizing: border-box;
    height: auto;





  }
  




  }


@media only screen and (max-width:768px) {


  .card-group {

    display: block;
    padding: 5%;
    box-sizing: border-box;

  }




     .rid{
    
      padding:3%;
      box-sizing: border-box;
      display: block;
      align-items: center;
      align-items: center;
    }
       

           .setting{
            box-sizing: border-box;
            display: block;
            padding: 5%;
            align-items: center;
           }
    }
    .setting {
      text-align: center;
      
      box-sizing: border-box;
      padding: 2%;
    }
      
  

  
  .row {
    display: block;
    padding: 4%;
    padding-bottom: 30px;
    height: auto;
  }

   
      
    


   @media only screen and (max-width:768px) {
    .fff {
      display: block;
      padding: 4%;
      box-sizing: border-box;
      height: auto;
      align-items: center;
      margin-top: 4%px;
    }

  } 

  
   





  